<div class="background">
  <div class="top-bar">
    <div class="app-name">
      <img src="assets/icons/studentSceneIcon.png"/>
    </div>
    <div class="search-icon">
      <img src="assets/icons/searchIcon.png"/>
    </div>
  </div>
  <div class="cart-item-list-title">Items</div>
  <div class="cart-item-list">
    <div class="" *ngFor="let cartItem of cartItems">
      <app-cart-item class="" [item]="cartItem"></app-cart-item>
    </div>
  </div>
  <app-footer class="footer" ></app-footer>
</div>
