<div class="background">
  <div class="top-bar">
    <div class="app-name">
      <img src="assets/icons/studentSceneIcon.png"/>
    </div>
    <div class="search-icon">
      <img src="assets/icons/searchIcon.png"/>
    </div>
  </div>
  <div class="search">Looking for...</div>
  <div class="button-list">
    <div class="button" routerLink="/search-items" routerLinkActive="active">Items</div>
    <div class="button" routerLink="/search-items" routerLinkActive="active">Events</div>
  </div>
  <app-footer class="footer" ></app-footer>
</div>
