<div class="card">
  <mat-card>
    <img mat-card-image class="image" src="assets/icons/image1.png" alt="Card image">
    <mat-card-title>{{event.title}}</mat-card-title>
    <mat-card-content class="card-content" >
      <p>Event date: {{event.startDate}}</p>
      <p>Price: {{event.id}} LEI</p>
      <mat-card-actions>
        <button class="mat-raised-button" mat-raised-button (submit)="event.eventLink" >View more details</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
