.item-list{
  max-height: calc(100vh);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.top-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-icon{
  padding: 60px;
  margin-right: 20px;
}

.item-list-title{
  margin-left: 60px;
  margin-bottom: 30px;
  font-size: 40px;
}

.app-name{
  flex-grow: 1;
  padding: 60px;
}

.footer{
  max-height: 200px;
  position: fixed;
  bottom: 0;
}
