
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>Old password</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      id="oldPassword"
      [type]="hide ? 'password' : 'text'"
      class="form-control"
      formControlName="oldPassword"
      required
    />
    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <p>New password field status: {{ forgotPasswordForm.get('password')?.status }}</p>


  <mat-form-field appearance="outline">
    <mat-label>New password</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      id="newPassword"
      [type]="hide ? 'password' : 'text'"
      class="form-control"
      formControlName="newPassword"
      required
    />
    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <p>New password field status: {{ forgotPasswordForm.get('password')?.status }}</p>

  <mat-form-field appearance="outline">
    <mat-label>Confirm new password</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      id="confirmNewPassword"
      type="password"
      class="form-control"
      formControlName="confirmNewPassword"
      required
    />
    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <p>Confirm password field status: {{ forgotPasswordForm.get('confirmPassword')?.status }}</p>

  <button type="submit" [disabled]="!forgotPasswordForm.valid">Submit</button>
</form>
