<form class="pwdres-form" [formGroup]="pwdResRequestForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      id="email"
      type="email"
      class="form-control"
      formControlName="email"
      required>
  </mat-form-field>
  <p>Email field status: {{ pwdResRequestForm.get('email')?.status }}</p>

  <button type="submit" [disabled]="!pwdResRequestForm.valid">Send request</button>
</form>


