
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      id="email"
      type="email"
      class="form-control"
      formControlName="email"
      required>
  </mat-form-field>
  <p>Email field status: {{ registerForm.get('email')?.status }}</p>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      id="password"
      [type]="hide ? 'password' : 'text'"
      class="form-control"
      formControlName="password"
      required
    />
    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <p>Password field status: {{ registerForm.get('password')?.status }}</p>

  <mat-form-field appearance="outline">
    <mat-label>Confirm password</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      id="confirmPassword"
      type="password"
      class="form-control"
      formControlName="confirmPassword"
      required
    />
  </mat-form-field>
  <p>Confirm password field status: {{ registerForm.get('confirmPassword')?.status }}</p>

  <label for="isAdmin">Admin account: </label>
  <input id="isAdmin" type="checkbox" formControlName="isAdmin">

  <p>Form Status: {{ registerForm.status }}</p>

  <p>Complete the form to enable button.</p>

  <button type="submit" [disabled]="!registerForm.valid">Submit</button>
</form>




